/* custom styles for specific devices under here */

/* iPhone 12 Pro Max */
@media screen and (width: 428px) {
   .btn a{
      margin: 3rem 0;
   }
}

/* iPad Pro portrait and landscape, iPad Air landscape and 1024 monitors clashing styles to be reviewed */

/* END */

@media screen and (min-width: 768px) and (max-width: 1023px) {
   

   nav{
      margin-bottom: 10rem;
   }

   section img{
      display: initial;
   }

   .gridTwo{
      margin-top: 6rem
   }

   .gridTwo p{
      padding: 0 7.8rem;
      line-height: 2;
      font-size: x-large;
   }
}




@media  screen and (min-width: 1024px) and (max-width: 1440px) {
   body{
      background: url(../images/bg-desktop.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding: 4rem 2rem;
   }

   nav{
      margin-bottom: 5rem;
   }

   nav img{
      max-width: 20%;
   }

   section{
      display: grid;
      grid-template: none / repeat(3, 1fr);
   }

.gridOne{
   grid-column: 1 / 3;
}

   .gridTwo h1{
      padding: 0 1rem;
      font-size: xx-large;
   }

   .gridTwo p{
font-size: larger;
padding: 0;
text-align: left;
line-height: 1.8;
   }

   .btn a{
      padding: 1rem 6rem;
      float: left;
   }

   .social{
      float: right;
      font-size: x-large;
      width: 200px;
      justify-content: space-evenly;
   }

   .social .one a,
.social .two a,
.social .three a {
  width: 3rem;
  height: 3rem;
}

   footer{
      margin-top: 5rem;
   }
}